<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container d-flex mx-auto">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/BlogSide.svg" alt="BlogSide Logo" height="32">
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuMobile">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="#fff" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="/about">Acerca de mí</a>
                </li>
                {{#if usuario}}
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white">|</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="btn btn-sm btn-outline-danger text-white" href="/logout">Logout</a>
                    </li>
                {{/if}}
            </ul>

            {{!-- <div class="ms-auto text-white">Hola</div> --}}
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menuMobile">
    <div class="offcanvas-header p-4">
        {{!-- <h5 id="offcanvasRightLabel">Menú</h5> --}}
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body py-4 d-flex flex-column">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="/" class="text-decoration-none text-dark">Inicio</a>
            </li>
            <li class="list-group-item">
                <a href="/about" class="text-decoration-none text-dark">Acerca de mí</a>
            </li>
            {{#if usuario}}
                <li class="list-group-item">
                    <a href="/dashboard" class="text-decoration-none text-dark">Dashboard</a>
                </li>
            {{/if}}
        </ul>

        {{#if usuario}}
            <a class="btn btn-sm btn-outline-danger mt-auto" href="/logout">Logout</a>
        {{/if}}
    </div>
</div>