{{> topPage }}

<div class="vh-100 d-flex flex-column">
    {{> navbar }}

    <div class="main">
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            {{!-- <i class="bi bi-x-lg" style = "font-size: 4rem;"></i> --}}
            <h1 style = "font-size: 4rem;">404</h1>
            <h1>Página no encontrada</h1>
            <a href="/blog" class="btn btn-primary mt-3">Ver todos los post</a>
        </div>
    </div>

    {{> footer }}
</div>

{{> bottomPage }}