{{> topPage }}

<div class="vh-100 d-flex flex-column">
    {{> navbar }}

    <div class="main">
        <div class="container mt-5">
            <h1 class="text-center fw-bold mb-5">¿Quién es David Tovar?</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img class="rounded-circle" src="./img/me.jpeg" width="100%" alt="">
                        
                        <div class="my-3">
                            Desarrollador web, amante de la música electronica, Lo-Fi y la programación.
                        </div>

                        <div class="my-3 d-flex align-items-center justify-content-evenly">
                            <a class="social-link" href="https://www.linkedin.com/in/davidatovar/" target="blank"><i class="bi bi-linkedin" style = "font-size: 2.1rem;"></i></a>
                            <a class="social-link" href="https://github.com/DavidAlejandro18" target="blank"><i class="bi bi-github" style = "font-size: 2.1rem;"></i></a>
                            <a class="social-link" href="mailto:alextovar146@gmail.com"><i class="bi bi-envelope-fill" style = "font-size: 2.4rem;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-4">
                    <h3 class="fw-bold mb-3">¿Quién soy?</h3>
                    <p>
                        Desarrollador web mexicano nacido en Monterrey, N.L., (la ciudad del cabrito), trabajo para <a class="text-decoration-none" href="http://proaxis.com.mx/" target="blank">Proaxis</a> 
                        desarrollando herramientas para el análisis y visualización de datos geográficos.
                    </p>

                    <h3 class="fw-bold mt-4 mb-3">Especialidades</h3>
                    <p>JavaScript • Node JS • PHP • Git/GitHub</p>
                    
                    <h3 class="fw-bold mt-4 mb-3">Créditos</h3>
                    <p>Cree este blog para poder compartir mis conocimientos y experiencias en el desarrollo web para que otras personas puedan aprender algo nuevo.</p>
                    <p>Espero que este blog aporte alguna nueva forma de pensar, otra forma de ver las cosas para estas nuevas comunidades del siglo XXI.</p>
                    <p>Tratare de mantener este blog actualizado con cada cosa nueva que pueda compartir con los demás y así dejar un granito de arena en Internet.</p>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}

</div>

{{> bottomPage }}