{{> topPage }}

<div class="vh-100 d-flex flex-column">
    {{> navbar }}

    <div class="main">
        <div class="container p-3">
            <h3>Crear nuevo post</h3>

            <div class="row">
                <div class="col-md-10">
                    <form id = "formPublicar">
                        <div class="mb-3">
                            <label for="banerPost" class="form-label">Baner</label>
                            <input class="form-control" id="banerPost" type="file" accept="image/*" required>
                        </div>
                        <div class="mb-3">
                            <label for="tituloPost" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="tituloPost" placeholder="Ej: ¿Cómo usar Postman?" required>
                        </div>
                        <div class="mb-3">
                            <label for="resumenPost" class="form-label">Resumen</label>
                            <input type="text" class="form-control" id="resumenPost" placeholder="Breve descripción" maxlength="150" required>
                        </div>
                        <div class="mb-3">
                            <label for="contenidoPost" class="form-label">Contenido</label>
                            <textarea id = "contenidoPost">
                                ¿De qué vas a escribir hoy?
                            </textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tags</label>
                            <div class = "border rounded-3 p-2">
                                <div class = "d-inline-block">
                                    <div class="d-inline" id = "tagListReady">
                                        {{!-- Aquí van los tags --}}
                                    </div>
                                    <autocomplete>
                                        <input type="text" class="border-0 inputNewTag" autocomplete="off" placeholder="Ingresa los tags del post" id="inputNewTag">
                                    </autocomplete>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success" type="submit">Generar post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</div>

{{> toastFail }}

<script>
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    setInputTags("inputNewTag");

    setTinyMCE("textarea");

    $("#formPublicar").on("submit", function (e) {
        e.preventDefault();
        e.stopPropagation();

        let idForm = this.id;

        if (this.checkValidity()) {
            let data = new FormData();
            data.append('titulo', $('#tituloPost').val());
            data.append('resumen', $('#resumenPost').val());
            data.append('baner', $('#banerPost')[0].files[0]);
            data.append('content', tinymce.activeEditor.getContent());
            data.append('tags', getActualTags().toString());

            let config = {
                method: 'POST',
                url: './blog/create-post',
                data,
                headers: {
                    "x-token": `{{ token }}`
                }
            };

            $(`#${idForm} button[type='submit']`).prop('disabled', true);
            $(`#${idForm} button[type='submit']`).html(`
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Generando post...
            `);

            axios(config)
                .then(function (response) {

                    if (response.status == 200) {
                        $(`#${idForm} button[type='submit']`).html(`Post generado`);
                        window.open(`./blog/${response.data.url}`);
                        window.location.href = `./dashboard`;
                    }

                })
                .catch(function (error) {
                    $(`#${idForm} button[type='submit']`).prop('disabled', false);
                    $(`#${idForm} button[type='submit']`).html(`Intentar de nuevo`);
                    const notificationAudio = new Audio("./audio/notification.wav")
                    notificationAudio.play();
                    $('#notifyFail').toast('show');
                    $('#msgError').text(error.response.data.msg);
                });
        }
    });
</script>

{{> bottomPage }}