{{> topPage }}

<div class="vh-100 d-flex flex-column">
    {{> navbar }}

    <div class="main">
        <div class="container p-3">
            
            <div>
                {{!-- Controles de busqueda --}}
                <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between">
                    <div class="d-flex align-items-center flex-wrap gap-2" id = "controllers">
                        <div>
                            Buscar
                            <input type="search" class="form-control form-control-sm" id="inputSearch" placeholder="Busqueda">
                        </div>
                        <div>
                            Status: 
                            <select class="form-select form-select-sm" id="selectStatus">
                                <option value="all" selected>Todos</option>
                                <option value="2">Aprobados</option>
                                <option value="1">En revisión</option>
                                <option value="0">Eliminados</option>
                            </select>
                        </div>

                        <div>
                            Ordenar por: 
                            <select class="form-select form-select-sm" id="selectOrder">
                                <option value="desc" selected>Más nuevos</option>
                                <option value="asc">Más viejos</option>
                            </select>
                        </div>
                        
                        <div>
                            Mostrar: 
                            <select class="form-select form-select-sm" id="selectLimit">
                                <option value="5" selected>5 elementos</option>
                                <option value="10">10 elementos</option>
                                <option value="15">15 elementos</option>
                                <option value="20">20 elementos</option>
                                <option value="25">25 elementos</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <a class="btn btn-outline-primary" href="./create-post">Crear nuevo post</a>
                    </div>
                </div>

                <div class = "pt-3" id = "postContainer"></div>
            </div>
        </div>
    </div>
</div>

{{> toastFail }}

<script>
    // INICIAMOS EL FILTRO AL ENTRAR A LA PÁGINA
    let configSearch = {
        text: $("#inputSearch").val(),
        status: $("#selectStatus").val(),
        orderBy: $("#selectOrder").val(),
        limit: $("#selectLimit").val(),
        idContainer: "postContainer"
    };

    filterPost(configSearch, '{{ token }}');

    // EJECUTAMOS EL FILTRO AL CAMBIAR EL SELECT
    let ctrlSearch = $("#controllers input, select");

    ctrlSearch.each((index, input) => {
        input.addEventListener("change", function() {
            configSearch = {
                text: $("#inputSearch").val(),
                status: $("#selectStatus").val(),
                orderBy: $("#selectOrder").val(),
                limit: $("#selectLimit").val(),
                idContainer: "postContainer"
            };

            filterPost(configSearch, '{{ token }}');
        });
    })
</script>

{{> bottomPage }}