{{> header }}

{{> headerFrontend }}

<div class="container-fluid mt-6">
    <!-- <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div> -->

    <div class="row">
        <div class="col-md-3">Hola</div>
        <div class="col-md-6">mundo</div>
        <div class="col-md-3">otra ves</div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade animate__animated animate__zoomIn animate__faster" id="modalLogin" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-white w-100 vh-75 border-0">
            <div class="row m-0">
                <div class="col-md-6 p-0 vh-75 rounded-start"
                    style="background-image: url('/img/login-min.jpg'); background-position: center; background-size: cover;">
                </div>
                <div class="col-md-6 p-0 vh-75">
                    <div class="p-3 mx-3 text-center">

                        <h2>Bienvenido a BlogSide</h2>

                        <form class="" id="form_login">
                            <div class="form-floating mb-3 input-group-sm">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-3 input-group-sm">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                            <button type="submit" class="btn btn-warning w-50">Login</button>
                        </form>

                        <div class="border-bottom text-center" style="height: 13px;">
                            <span class="bg-white" style="padding: 0 10px;">
                                <i>O</i>
                            </span>
                        </div>

                        <button class="btn btn-google mt-3 w-50">
                            <img src="/img/google-icon.svg">
                            Continua con Google
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* const animateCSS = (element, animation, prefix = 'animate__') =>
        // We create a Promise and return it
        new Promise((resolve, reject) => {
            const animationName = `${prefix}${animation}`;
            const node = document.querySelector(element);

            node.classList.add(`${prefix}animated`, animationName);

            // When the animation ends, we clean the classes and resolve the Promise
            function handleAnimationEnd(event) {
                event.stopPropagation();
                node.classList.remove(`${prefix}animated`, animationName);
                resolve('Animation ended');
            }

            node.addEventListener('animationend', handleAnimationEnd, { once: true });
        }
    ); */

    /* var modalLogin = document.getElementById('modalLogin')
    modalLogin.addEventListener('show.bs.modal', function (event) {
        console.log("Modal abierto");
        $("#modalLogin").animateCSS("zoomIn");
    });
    modalLogin.addEventListener('hide.bs.modal', function (event) {
        console.log("Modal cerrado");
    }) */

    /* var config = {
        method: 'get',
        url: 'http://localhost:4000/api/usuarios?limit=10',
        headers: {
            'x-token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiI2MTg2ZTgzNTU1NjVlMGU0MWY1NTU2NGEiLCJpYXQiOjE2MzcwNDEzMjksImV4cCI6MTYzNzA1NTcyOX0.UdLo_JUEz3Yki7bgZD4UvpVcUFx8jOr66rx7j836kcA'
        }
    };

    axios(config)
        .then(function (response) {
            console.log(response.data);
        })
        .catch(function (error) {
            console.log(error);
        }); */
</script>

{{> footer }}