.mt-6 {
    margin-top: 64px;
}

.vh-75 {
    height: 75vh;
}

.custom-vh-100 {
    height: calc(100vh - 64px);
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.login {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #f5f5f5; */
    height: auto;
    width: 500px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    /* margin-bottom: 10px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main {
    flex: 1;
}

.container-navbar {
    width: 90%;
}

.social-link {
    text-decoration: none;
    color: black;
}

.social-link:hover {
    color: #0a66c2;
}

.card-post {
    max-width: 60%;
    max-height: 170px;
}

.img-card-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-image-card-post {
    background-position: center;
    background-size: cover;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 70rem;
    }
}

@media (max-width: 576px) {
    .card-post {
        max-width: 100%;
    }
}